@font-face {
  font-family: "kalameh";
  src: url("../public/fonts/Kalameh-Bold.ttf");
}

@font-face {
  font-family: "sans";
  src: url("../public/fonts/Sans\ a4fran3.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
}

html {
  direction: rtl;
}

.open--sidebar {
  overflow: hidden;
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

body {
  background-color: #fcfcfc;
}

.width-lg {
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .width-lg {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .width-lg {
    width: 95%;
  }
}
